.button {
    border: solid #2D7976 0.2ch;
    text-align: center;
    border-radius: 5px;
}

.buttonText {
    font-size: 3.5vw;
}

@media screen and (min-width: 200px) {
    .button {
        width: 33%;
        margin-left: 65%;
        padding: 10px;
    }
}

@media screen and (min-width: 321px) {
    .button {
        width: 30%;
        margin-left: 68%;
        padding: 10px;
    }
}

@media screen and (min-width: 576px) {
    .button {
        width: 28%;
        margin-left: 70%;
        padding: 13px;
    }
}

@media screen and (min-width: 768px) {
    .button {
        width: 25%;
        margin-left: 73%;
        padding: 18px;
    }
}

@media screen and (min-width: 992px) {
    .button {
        width: 23%;
        margin-left: 75%;
        padding: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .button {
        padding: 35px;
    }
}