.scorecard {
    --scorecard-width: calc(100% * 0.5);
    --scorecard-border-radius: 4ch;

    float: left;
    margin-left: var(--scorecard-margin-right);
    width: var(--scorecard-width);
    height: 100%;
    border-radius: var(--scorecard-border-radius);
}

.scorecardText {
    --score-width: 100%;
    --score-height: 100%;
    --score-font: 'Muli', sans-serif;
    --score-font-size: 7ch;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--score-font);
    font-size: var(--score-font-size);
    font-weight: bold;
    width: var(--score-width);
    height: var(--score-height);
}