.scoreboard {
    --scoreboard-width: 15%;
    --scoreboard-height: 50%;

    border: solid brown 2px;
    position: relative;
    float: right;
    margin-right: var(--scoreboard-margin-right);
    width: var(--scoreboard-width);
    height: var(--scoreboard-height);
}

.scorecard {
    --scorecard-width: calc(100% * 0.5);
    --scorecard-border-radius: 4ch;

    float: left;
    margin-left: var(--scorecard-margin-right);
    width: var(--scorecard-width);
    height: 100%;
    border-radius: var(--scorecard-border-radius);
}

.scorecardText {
    --score-width: 100%;
    --score-height: 50%;
    --score-font: 'Muli', sans-serif;
    --score-font-size: 1ch;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--score-font-size);
    font-weight: bold;
    width: var(--score-width);
    height: var(--score-height);
}