.inputBox {
    --gameid-input-width: calc(50% - 2ch);
    --gameid-input-height: calc(100% - 1ch);
    --gameid-border-radius: 4vw;
    --gameid-border: solid grey 0.5ch;

    float: left;
    width: var(--gameid-input-width);
    height: var(--gameid-input-height);
    border-radius: var(--gameid-border-radius);
    border: var(--gameid-border);
}

.input {
    --input-height: calc(100% - 0.2ch - 0.2ch);
    --input-width: 95%;
    --input-margin-top: calc(calc(100% - var(--input-height)) * 0.5);
    --input-margin-left: calc(calc(100% - var(--input-width)) * 0.5);
    --input-font: 'Muli', sans-serif;
    --input-text-indent: 2%;
    --input-border-radius: 4vw;
    --input-padding: 0px;

    font-style: italic;
    padding: var(--input-padding);
    outline: none;
    border: none;
    text-indent: var(--input-text-indent);
    width: var(--input-width);
    height: var(--input-height);
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    margin-left: var(--input-margin-left);
    margin-top: var(--input-margin-top);
}

@media screen and (min-width: 100px) {
    .input {
        --input-text-size: 5vw;

        font-size: var(--input-text-size);
    }
}

@media screen and (min-width: 400px) {
    .input {
        --input-text-size: 4vw;

        font-size: var(--input-text-size);
    }
}

@media screen and (min-width: 400px) {
    .input {
        --input-text-size: 3vw;

        font-size: var(--input-text-size);
    }
}
